<div class="container">
  <h1 class="title">{{name}}</h1>
  <ul class="product-list">
    <!-- Los elementos de la lista se generarán dinámicamente -->
  </ul>
  <a href="/products" class="btn">Ver productos</a>
</div>
