<div class="login-container">
    <form class="login-form" id="loginForm">
        <h1 class="login-title">Iniciar sesión</h1>

        <label for="loginEmail" class="login-label">Email</label>
        <input class="login-input" type="email" name="email" id="loginEmail" autocomplete="email">

        <label for="loginPassword" class="login-label">Contraseña</label>
        <input class="login-input" type="password" name="password" id="loginPassword" autocomplete="current-password">

        <input class="login-submit" type="submit" value="Iniciar sesión">

        <div class="login-redirect">
            <p class="login-label">¿Aún no te registraste?</p>
            <p class="login-redirect-label"><a class="login-redirect-link" href="/register">Hazlo aquí</a></p>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>
