


  {{#if user.name}}
    <div class="welcome-container">
      <h1 class="welcome-title">Bienvenido <span class="user-name">{{user.name}}</span></h1>
      <p class="user-email">Correo: {{user.email}}</p>
    </div>
  {{/if}}
