<div class="register-container">
    <form class="register-form" id="registerForm">
        <h1 class="register-title">Regístrate</h1>

        <label class="register-label">Nombre</label>
        <input class="register-input" type="text" name="firstName">

        <label class="register-label">Apellido</label>
        <input class="register-input" type="text" name="lastName">

        <label class="register-label">Email</label>
        <input class="register-input" type="email" name="email">

        <label class="register-label">Contraseña</label>
        <input class="register-input" type="password" name="password">

        <input class="register-submit" type="submit" value="Registrar">
    </form>
</div>


<script src="/js/register.js"></script>