<div class="register-container">
    <form class="register-form" id="registerForm">
        <h1 class="register-title">Regístrate</h1>

        <label for="fName" class="register-label">Nombre</label>
        <input class="register-input" id="fName" type="text" name="firstName" autocomplete="given-name">

        <label for="lName" class="register-label">Apellido</label>
        <input class="register-input" id="lName" type="text" name="lastName" autocomplete="family-name">

        <label for="forEmail" class="register-label">Email</label>
        <input class="register-input" id="forEmail" type="email" name="email" autocomplete="email">

        <label for="forPassword" class="register-label">Contraseña</label>
        <input class="register-input" id="forPassword" type="password" name="password" autocomplete="new-password">

        <input class="register-submit" type="submit" value="Registrar">


        <div class="register-redirect">
            <p class="register-label">¿Ya estás registrado?</p>
            <p class="register-redirect-label"><a class="register-redirect-link" href="/login">Inicia sesión aquí</a></p>
        </div>
    </form>
</div>

<script src="/js/register.js"></script>
