.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    width: 400px;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.register-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.register-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.register-submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-submit:hover {
    background-color: #45a049;
}



.register-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.register-redirect-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.register-redirect-link {
    color: green;
    text-decoration: none;
}

.register-redirect-link:hover {
    text-decoration: underline;
}
